<div class="main">
  <div class="search-box-container">
    <form name="searchbox" class="search-box">
      <input type="text" placeholder="Search Players..." ng-model="main.search" />
    </form>
  </div>

  <div class="ladder">
    <div ng-repeat="player in main.ladder | filter : main.search">
      <div ui-sref="players({ id: player.id})" class="ladder__player">
        <div class="ladder__player__item">
          <p><strong>{{ $index + 1 }}.</strong></p>
        </div>
        <div class="ladder__player__item">
          <p>{{ player.name }}</p>
        </div>

        <div class="ladder__player__item">
          <p>{{ player.tier }}</p>
        </div>

        <div class="ladder__player__item">
          <p>{{ player.division }}</p>
        </div>

        <div class="ladder__player__item">
          <p>{{ player.lp }}</p>
        </div>
      </div>
    </div>
  </div>
</div>