.graphs{
  display: flex;

  &__data {
    order: 1;

    .line {
      float: left;
    }

    .line-legend-container {
      float: left;
    }

    .line-legend {
      list-style: none;
      span {
        display: inline-block;
        margin-right: 10px;
        height: 10px;
        width: 10px;
        border-radius: 5px;
      }
    }
  }

  &__content{
    order: 2;
  }
}

