.team {
  color: $black;

  &__player {
    cursor: pointer;
    margin-left: -5px;
    margin-right: -5px;
    padding: 5px;
    transition: background-color 0.2s ease;

    &:hover {
      transition: background-color 0.2s ease;
      background-color: darken(#f6f6f6, 10%);
    }
  }

  &__bench {
    background-color: #333;
    border-radius: 2.5px;
    padding: 2.5px 3px 1px;
    text-transform: uppercase;
    color: lighten($black, 50%);
    font-size: 9px;
  }
}